<div class="container">
  <h1 class="title">Reset Password</h1>

  <% if (errors.tokenInvalid) { %>
  <article class="message is-danger">
    <div class="message-header">
      <p>Error</p>
    </div>
    <div class="message-body">
      Password reset key is not valid. Try again.
    </div>
  </article>
  <% } else { %>
  <form method="POST">
    <input type="hidden" name="key" value="<%= key %>" />
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          class="input <%= errors && errors.password ? 'is-danger' : ''%>"
          type="password"
          name="password"
        />
      </div>
      <% if (errors && errors.password) { %>
      <p class="help is-danger">
        <%= errors.password %>
      </p>
      <% } %>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input
          class="input <%= errors && errors.confirmPassword ? 'is-danger' : ''%>"
          type="password"
          name="confirmPassword"
        />
      </div>
      <% if (errors && errors.confirmPassword) { %>
      <p class="help is-danger">
        <%= errors.confirmPassword %>
      </p>
      <% } %>
    </div>

    <div class="field">
      <p class="control">
        <button class="button is-link" type="submit">Reset</button>
      </p>
    </div>
  </form>
  <% } %>
</div>
