<h1 class="title">Images</h1>
<h2 class="subtitle">
  View all images you have uploaded
</h2>

<% if (query.message) { %>
<article class="message <%= query.class %>">
  <div class="message-header">
    <p>Message</p>
  </div>
  <div class="message-body">
    <%= query.message %>
  </div>
</article>
<% } %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Host</th>
      <th>Upload Date</th>
      <th>Size</th>
      <th>Content Type</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% images.map(image => { %>
    <tr>
      <td><a href="<%= image.url %>"><%= image.path %></a></td>
      <td><%= image.host %></td>
      <td><%= image.uploadDate %></td>
      <td><%= image.size %></td>
      <td><%= image.contentType %></td>
      <td>
        <a
          class="button is-danger"
          href="/account/images/<%= image.id %>/delete"
        >
          Delete
        </a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
