<a href="/admin/banners" class="button is-link">Back to Listing</a>

<div class="content">
  <h1>Banner <code><%= banner.id %></code></h1>
  <p>
    <label class="label">Snowflake</label>
    <code><%= banner.id %></code>
  </p>
  <form method="POST">
    <div class="field">
      <label class="label">Class</label>
      <div class="control">
        <input
          name="class"
          class="input"
          type="text"
          value="<%= banner.class %>"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea name="message" class="textarea">
<%= banner.message %></textarea
        >
      </div>
    </div>

    <div class="field">
      <label class="label">Enabled</label>
      <div class="control">
        <input
          name="enabled"
          type="checkbox"
          class="checkbox"
          checked="<%= banner.checked %>"
        />
      </div>
    </div>

    <div class="field">
      <button class="button is-primary" type="submit">Save</button>
      <a href="/admin/banners/<%= banner.id %>/delete" class="button is-danger">
        Delete
      </a>
    </div>
  </form>
</div>
