<h1 class="title">User</h1>
<h2 class="subtitle">
  View information on user <%= user.username %>
</h2>

<h1 class="title">Images</h1>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Host</th>
      <th>Upload Date</th>
      <th>Size</th>
      <th>Content Type</th>
    </tr>
  </thead>
  <tbody>
    <% user.images.map(image => { %>
    <tr>
      <td><a href="<%= image.url %>"><%= image.path %></a></td>
      <td><%= image.host %></td>
      <td><%= image.uploadDate %></td>
      <td><%= image.size %></td>
      <td><%= image.contentType %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<h1 class="title">Invites</h1>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Invite</th>
      <th>Created on</th>
      <th>Redeemed</th>
      <th>Redeemed By</th>
    </tr>
  </thead>
  <tbody>
    <% user.invites.map(invite => { %>
    <tr>
      <td><%= invite.invite %></td>
      <td><%= invite.createdOn %></td>
      <td>
        <% if (invite.redeemed) { %><strong>Yes</strong> <% } else { %> No<% }
        %>
      </td>
      <td>
        <% if (invite.redeemed) { %> <%= invite.redeemedBy %> <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
