<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- meta %> <% include ../includes/styles %>
    <title>Mirage</title>
  </head>
  <body>
    <div class="content-main">
      <% include ../includes/navbar %>
      <br />
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-one-third">
              <aside class="menu">
                <p class="menu-label">
                  Account
                </p>
                <ul class="menu-list">
                  <li>
                    <a href="/account" class="<%= originalUrlEq('/account') %>">
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a
                      href="/account/discord"
                      class="<%= originalUrlEq('/account/discord') %>"
                    >
                      Discord
                    </a>
                  </li>

                  <li>
                    <a
                      href="/account/invites"
                      class="<%= originalUrlEq('/account/invites') %>"
                    >
                      Invites
                    </a>
                  </li>
                  <li>
                    <a
                      href="/account/upload"
                      class="<%= originalUrlEq('/account/upload') %>"
                    >
                      Upload
                    </a>
                  </li>
                </ul>

                <p class="menu-label">
                  ShareX
                </p>
                <ul class="menu-list">
                  <li>
                    <a
                      href="/account/random"
                      class="<%= originalUrlEq('/account/random') %>"
                    >
                      Random Domains
                    </a>
                  </li>
                  <li>
                    <a
                      href="/account/sharex"
                      class="<%= originalUrlEq('/account/sharex') %>"
                    >
                      Generate Config
                    </a>
                  </li>
                  <li>
                    <a
                      href="/account/urlshortener"
                      class="<%= originalUrlEq('/account/urlshortener') %>"
                    >
                      Generate URL Shortener Config
                    </a>
                  </li>
                </ul>

                <p class="menu-label">
                  Security
                </p>
                <ul class="menu-list">
                  <li>
                    <a
                      href="/account/mfa"
                      class="<%= originalUrl('/account/mfa') %>"
                    >
                      2-Factor Authentication
                    </a>
                  </li>
                </ul>

                <p class="menu-label">
                  Images
                </p>
                <ul class="menu-list">
                  <li>
                    <a
                      href="/account/images"
                      class="<%= originalUrlEq('/account/images') %>"
                    >
                      List
                    </a>
                  </li>
                  <li>
                    <a
                      href="/account/images/nuke"
                      class="<%= originalUrlEq('/account/images/nuke') %>"
                    >
                      Nuke
                    </a>
                  </li>
                </ul>

                <p class="menu-label">
                  Shortened URLs
                </p>
                <ul class="menu-list">
                  <li>
                    <a
                      href="/account/urls"
                      class="<%= originalUrlEq('/account/urls') %>"
                    >
                      List
                    </a>
                  </li>
                  <li>
                    <a
                      href="/account/urls/nuke"
                      class="<%= originalUrlEq('/account/urls/nuke') %>"
                    >
                      Nuke
                    </a>
                  </li>
                </ul>
              </aside>
            </div>
            <div class="column table-container">
              <%- body %>
            </div>
          </div>
        </div>
      </section>
      <div class="grow"></div>
      <% include ../includes/footer %>
    </div>
    <% include ../includes/scripts %>
  </body>
</html>
